
<div class="container py-5">
  <h1 class="pb-2 border-bottom">Booking Details</h1>
  <div class="py-4">
    <%= simple_form_for [ @room, @booking ] do |f| %>
      <%= f.input :booking_start, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :booking_end, as: :string, required: false, input_html: { class: "datepicker" } %>

      <%= f.submit "Book", class: "btn btn-primary " %>
    <% end %>
  </div>
</div>
