<h1>Pages#Dashboard</h1>

<% if user_signed_in? %>
  <p>Logged in as:</p><%= current_user.email %>
<% end %>

<div class="container">
  <div class="card" id>
    <h1>Rooms</h1>
  </div>

  <div class="card">
    <h1>Rooms</h1>
  </div>

</div>
