<div class="banner_list">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('banner_home.jpg') %>)">
      <div class="container">
        <h1>Space Out</h1>
        <p>Welcome to Space Out. The best place to find rooms and spaces to run your meetings and workshops.</p>
        <%= link_to 'Search Spaces', rooms_path, class: "btn btn-light" %>
      </div>
  </div>
</div>

<div class="container">
  <h2 class="text-center">More in the area</h2>
    <div class="cards-rooms">

      <div class="card2">
        <h4>Boardroom</h4>
        <p>Catering included</p>
      </div>

      <div class="card1">
        <h4>Creative Spaces</h4>
        <p>Loungers</p>
      </div>

      <div class="card2">
        <h4>High Tech</h4>
        <p>Presenters Dream</p>
      </div>
    </div>
</div>
